.container {
    background-color: black;

    color: var(--simmer-white);
    overflow: hidden;
    display: flex;

    padding: var(--global-padding);

    color: var(--simmer-white);
    font-size: var(--header-large);

    text-align: center;
}

.headerText {
    color: var(--simmer-white);
    font-size: var(--header-large);
}
