.nav {
    background-color: #000000;
    color: var(--simmer-white);
    font-family: 'Nord';

    display: grid;
    grid-template-columns: repeat(6, 1fr);

    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 3rem;
}

.nav ul {
    display: flex;
    list-style: none;

    grid-column: 1 / span 2;
    margin-right: auto;
}

.nav li {
    font-size: var(--text-large);
}

.nav li:not(:last-child) {
    margin-right: 1.6rem;
}

.navItemMobile {
    display: none;
}

.logo {
    font-size: var(--header-xs);
    letter-spacing: 0.3rem;

    font-family: 'Rockids';

    justify-self: center;
    grid-column: 3 / span 2;
    transform: scaleY(1.2);
}

.navItem {
    grid-column: 5 / span 2;

    display: flex;
    margin-left: auto;
}

.btn {
    padding: 6px 1.2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--simmer-yellow);
    margin-right: 1.6rem;

    font-family: inherit;
    text-transform: uppercase;
    font-weight: bold;
}

@media only screen and (max-width: 43.5em) {
    .nav {
        grid-template-columns: repeat(2, 1fr);
        padding: 4rem;
        justify-content: start;
    }

    .nav ul {
        display: none;
    }

    .logo {
        font-size: var(--header-small);
        justify-self: start;
        grid-column: 1 / 2;
    }

    .navItem {
        grid-column: 2 / 3;
    }

    .navItem {
        display: none;
    }

    .navItemMobile {
        grid-column: 5 / span 2;

        display: flex;
        margin-left: auto;
    }

    .hamburgerIcon {
        margin-right: 3rem;
    }
}
