html {
    font-size: 50%;
}

body {
    --global-padding: 15rem;

    --text-small: 1.2rem;
    --text-medium: 1.8rem;
    --text-large: 2rem;
    --text-xl: 3rem;
    --text-xxl: 3.5rem;

    --header-xs: 4rem;
    --header-small: 6rem;
    --header-medium: 8rem;
    --header-large: 10rem;

    --simmer-yellow: #fa9a11;
    --simmer-red: #be3111;
    --simmer-geen: #155942;
    --simmer-white: #f7ede1;
    --simmer-black: #000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'BeVietnamPro';
    src: url('/fonts/BeVietnamPro/BeVietnamPro-SemiBold.ttf');
    font-style: normal;
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: 'BeVietnamPro';
    src: url('/fonts/BeVietnamPro/BeVietnamPro-Bold.ttf');
    font-style: normal;
    font-weight: bold;
    font-display: block;
}

@font-face {
    font-family: 'Nord';
    src: url('/fonts/Nord/Nord-Book.ttf');
    font-style: normal;
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: 'Nord';
    src: url('/fonts/Nord/Nord-Bold.ttf');
    font-style: normal;
    font-weight: bold;
    font-display: block;
}
