html {
    font-size: 62.5%;
}

body {
    --global-padding: 12rem;

    --text-small: 0.95rem;
    --text-medium: 1.3rem;
    --text-large: 1.6rem;
    --text-xl: 2.4rem;
    --text-xxl: 2.8rem;

    --header-xs: 3.2rem;
    --header-small: 4.8rem;
    --header-medium: 6.4rem;
    --header-large: 10rem;

    --simmer-yellow: #fa9a11;
    --simmer-red: #be3111;
    --simmer-geen: #155942;
    --simmer-white: #f7ede1;
    --simmer-black: #000000;
}

@media only screen and (max-width: 43.5em) {
    html {
        font-size: 37.5%;
    }

    body {
        --global-padding: 4rem;
        --header-large: 8rem;
        --text-xl: 2rem;
        --text-xxl: 3rem;
    }
}

@media only screen and (max-width: 25em) {
    html {
        font-size: 31.25%;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'BeVietnamPro';
    src: url('/fonts/BeVietnamPro/BeVietnamPro-SemiBold.ttf');
    font-style: normal;
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: 'BeVietnamPro';
    src: url('/fonts/BeVietnamPro/BeVietnamPro-Bold.ttf');
    font-style: normal;
    font-weight: bold;
    font-display: block;
}

@font-face {
    font-family: 'Nord';
    src: url('/fonts/Nord/Nord-Book.ttf');
    font-style: normal;
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: 'Nord';
    src: url('/fonts/Nord/Nord-Bold.ttf');
    font-style: normal;
    font-weight: bold;
    font-display: block;
}

@font-face {
    font-family: 'Baskerville';
    src: url('/fonts/Baskerville/Baskerville-SemiBoldItalic.ttf');
    font-style: normal;
    font-weight: bold;
    font-display: block;
}

@font-face {
    font-family: 'Rockids';
    src: url('/fonts/Rockids/Rockids-regular.otf');
    font-style: normal;
    font-weight: normal;
    font-display: block;
}
